{% extends "admin/base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Adminler</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('add_admin') }}" class="btn btn-primary mb-3">Admin Ekle</a>
</div>
{% endblock %}